@import "tailwindcss";

aside::-webkit-scrollbar {
  width: 4px;
}

aside::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5); 
  border-radius: 4px;
}

aside::-webkit-scrollbar-track {
  background-color: transparent;
}   